In [1]:
# pandas, sql 비교
import pandas as pd
import pymysql
import pymysql.cursors
from sqlalchemy import create_engine

conn = pymysql.connect(host='127.0.0.1', user='root', password='password', db='labeling_direction', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)

try:
    with conn.cursor() as curs:
        sql = 'SELECT * FROM direction_folder'
        curs.execute(sql)
        df = pd.read_sql(sql,conn)
        #df.drop(['index'], axis=1, inplace=True)

finally:
    conn.close()

In [2]:
conn = pymysql.connect(host='127.0.0.1', user='root', password='password', db='labeling_direction', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)

In [3]:
sql2 = 'select LABEL_ID, LABEL_CLASS from direction_folder'
sdf2 = pd.read_sql(sql2,conn)
sdf2

      LABEL_ID LABEL_CLASS
0         A-01          11
1         A-01          11
2         A-01          11
3         A-01          11
4         A-01          11
...        ...         ...
56715     A-15          05
56716     A-15          05
56717     A-15          05
56718     A-15          05
56719     A-15          05

[56720 rows x 2 columns]

In [4]:
df[['LABEL_ID','LABEL_CLASS']]

      LABEL_ID LABEL_CLASS
0         A-01          11
1         A-01          11
2         A-01          11
3         A-01          11
4         A-01          11
...        ...         ...
56715     A-15          05
56716     A-15          05
56717     A-15          05
56718     A-15          05
56719     A-15          05

[56720 rows x 2 columns]

In [5]:
sql3 = 'select * from direction_folder limit 10' 
sdf3 = pd.read_sql(sql3,conn)
sdf3

   index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0      0   20210425     A-01          11  11_X001_C012_1215
1      1   20210425     A-01          11  11_X001_C012_1217
2      2   20210425     A-01          11  11_X001_C013_1026
3      3   20210425     A-01          11  11_X001_C013_1030
4      4   20210425     A-01          11  11_X001_C013_1102
5      5   20210425     A-01          11  11_X001_C013_1214
6      6   20210425     A-01          11  11_X001_C013_1218
7      7   20210425     A-01          11  11_X001_C014_0120
8      8   20210425     A-01          11  11_X001_C014_0127
9      9   20210425     A-01          11  11_X001_C014_0128

In [6]:
df.head(10)

   index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0      0   20210425     A-01          11  11_X001_C012_1215
1      1   20210425     A-01          11  11_X001_C012_1217
2      2   20210425     A-01          11  11_X001_C013_1026
3      3   20210425     A-01          11  11_X001_C013_1030
4      4   20210425     A-01          11  11_X001_C013_1102
5      5   20210425     A-01          11  11_X001_C013_1214
6      6   20210425     A-01          11  11_X001_C013_1218
7      7   20210425     A-01          11  11_X001_C014_0120
8      8   20210425     A-01          11  11_X001_C014_0127
9      9   20210425     A-01          11  11_X001_C014_0128

In [7]:
sql4 = 'select distinct LABEL_ID from direction_folder'
sdf4 = pd.read_sql(sql4,conn)
sdf4

   LABEL_ID
0      A-01
1      A-02
2      A-03
3      A-04
4      A-05
5      A-06
6      A-07
7      A-08
8      A-09
9      A-10
10     A-11
11     A-12
12     A-13
13     A-14
14     A-15

In [8]:
df['LABEL_ID'].unique()

array(['A-01', 'A-02', 'A-03', 'A-04', 'A-05', 'A-06', 'A-07', 'A-08',
       'A-09', 'A-10', 'A-11', 'A-12', 'A-13', 'A-14', 'A-15'],
      dtype=object)

In [9]:
sql5 = 'select * from direction_folder where LABEL_CLASS = 01;'
sdf5 = pd.read_sql(sql5,conn)
sdf5

    index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0     900   20210430     A-01          01  01_X014_C112_0410
1     901   20210430     A-01          01  01_X018_C112_0410
2     902   20210430     A-01          01  01_X018_C119_0410
3     903   20210430     A-01          01  01_X020_C112_0410
4     904   20210430     A-01          01  01_X040_C112_0410
5     905   20210430     A-01          01  01_X051_C112_0410
6     906   20210430     A-01          01  01_X052_C112_0410
7     907   20210430     A-01          01  01_X066_C119_0410
8     908   20210430     A-01          01  01_X074_C508_0408
9     909   20210430     A-01          01  01_X104_C551_0117
10    910   20210430     A-01          01  01_X108_C112_0410
11    911   20210430     A-01          01  01_X112_C112_0410
12    912   20210430     A-01          01  01_X113_C112_0410
13    913   20210430     A-01          01  01_X116_C112_0410
14    914   20210430     A-01          01  01_X118_C119_0410
15    915   20210430     A-01          01  01_X121_C112_0410
16    916   20210430     A-01          01  01_X121_C119_0410
17    917   20210430     A-01          01  01_X123_C112_0410
18    918   20210430     A-01          01  01_X127_C119_0410
19    919   20210430     A-01          01  01_X135_C119_0410
20    920   20210430     A-01          01  01_X140_C092_0410
21    921   20210430     A-01          01  01_X147_C112_0410
22    922   20210430     A-01          01  01_X148_C092_0410
23    923   20210430     A-01          01  01_X156_C116_0410
24    924   20210430     A-01          01  01_X184_C112_0410
25    925   20210430     A-01          01  01_X189_C112_0410
26    926   20210430     A-01          01  01_X291_C117_0330
27    927   20210430     A-01          01  01_X299_C112_0410

In [10]:
df[df['LABEL_CLASS'] == '01']

     index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
900    900   20210430     A-01          01  01_X014_C112_0410
901    901   20210430     A-01          01  01_X018_C112_0410
902    902   20210430     A-01          01  01_X018_C119_0410
903    903   20210430     A-01          01  01_X020_C112_0410
904    904   20210430     A-01          01  01_X040_C112_0410
905    905   20210430     A-01          01  01_X051_C112_0410
906    906   20210430     A-01          01  01_X052_C112_0410
907    907   20210430     A-01          01  01_X066_C119_0410
908    908   20210430     A-01          01  01_X074_C508_0408
909    909   20210430     A-01          01  01_X104_C551_0117
910    910   20210430     A-01          01  01_X108_C112_0410
911    911   20210430     A-01          01  01_X112_C112_0410
912    912   20210430     A-01          01  01_X113_C112_0410
913    913   20210430     A-01          01  01_X116_C112_0410
914    914   20210430     A-01          01  01_X118_C119_0410
915    915   20210430     A-01          01  01_X121_C112_0410
916    916   20210430     A-01          01  01_X121_C119_0410
917    917   20210430     A-01          01  01_X123_C112_0410
918    918   20210430     A-01          01  01_X127_C119_0410
919    919   20210430     A-01          01  01_X135_C119_0410
920    920   20210430     A-01          01  01_X140_C092_0410
921    921   20210430     A-01          01  01_X147_C112_0410
922    922   20210430     A-01          01  01_X148_C092_0410
923    923   20210430     A-01          01  01_X156_C116_0410
924    924   20210430     A-01          01  01_X184_C112_0410
925    925   20210430     A-01          01  01_X189_C112_0410
926    926   20210430     A-01          01  01_X291_C117_0330
927    927   20210430     A-01          01  01_X299_C112_0410

In [11]:
sql6 = 'select * from direction_folder where LABEL_CLASS >= 24;'
sdf6 = pd.read_sql(sql6,conn)
sdf6

      index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0      1460   20210430     A-01          24  24_X002_C016_1008
1      1461   20210430     A-01          24  24_X003_C037_1012
2      1462   20210430     A-01          24  24_X004_C163_1013
3      1463   20210430     A-01          24  24_X007_C509_0129
4      1464   20210430     A-01          24  24_X010_C026_1006
...     ...        ...      ...         ...                ...
5139  54965   20210501     A-15          24  24_X012_C194_1215
5140  54966   20210501     A-15          24  24_X012_C194_1216
5141  54967   20210501     A-15          24  24_X012_C194_1217
5142  54968   20210501     A-15          24  24_X012_C194_1218
5143  54969   20210501     A-15          24  24_X012_C195_1207

[5144 rows x 5 columns]

In [12]:
df[df['LABEL_CLASS'] >= '24']

       index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
1460    1460   20210430     A-01          24  24_X002_C016_1008
1461    1461   20210430     A-01          24  24_X003_C037_1012
1462    1462   20210430     A-01          24  24_X004_C163_1013
1463    1463   20210430     A-01          24  24_X007_C509_0129
1464    1464   20210430     A-01          24  24_X010_C026_1006
...      ...        ...      ...         ...                ...
54965  54965   20210501     A-15          24  24_X012_C194_1215
54966  54966   20210501     A-15          24  24_X012_C194_1216
54967  54967   20210501     A-15          24  24_X012_C194_1217
54968  54968   20210501     A-15          24  24_X012_C194_1218
54969  54969   20210501     A-15          24  24_X012_C195_1207

[5144 rows x 5 columns]

In [13]:
sql7 = 'select * from direction_folder where LABEL_CLASS between 11 and 25;' #11 이상 25 이하
sdf7 = pd.read_sql(sql7,conn)
sdf7

       index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0          0   20210425     A-01          11  11_X001_C012_1215
1          1   20210425     A-01          11  11_X001_C012_1217
2          2   20210425     A-01          11  11_X001_C013_1026
3          3   20210425     A-01          11  11_X001_C013_1030
4          4   20210425     A-01          11  11_X001_C013_1102
...      ...        ...      ...         ...                ...
41326  54965   20210501     A-15          24  24_X012_C194_1215
41327  54966   20210501     A-15          24  24_X012_C194_1216
41328  54967   20210501     A-15          24  24_X012_C194_1217
41329  54968   20210501     A-15          24  24_X012_C194_1218
41330  54969   20210501     A-15          24  24_X012_C195_1207

[41331 rows x 5 columns]

In [14]:
df[(df['LABEL_CLASS'] >= '11') & (df['LABEL_CLASS'] <= '25')]

       index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0          0   20210425     A-01          11  11_X001_C012_1215
1          1   20210425     A-01          11  11_X001_C012_1217
2          2   20210425     A-01          11  11_X001_C013_1026
3          3   20210425     A-01          11  11_X001_C013_1030
4          4   20210425     A-01          11  11_X001_C013_1102
...      ...        ...      ...         ...                ...
54965  54965   20210501     A-15          24  24_X012_C194_1215
54966  54966   20210501     A-15          24  24_X012_C194_1216
54967  54967   20210501     A-15          24  24_X012_C194_1217
54968  54968   20210501     A-15          24  24_X012_C194_1218
54969  54969   20210501     A-15          24  24_X012_C195_1207

[41331 rows x 5 columns]

In [15]:
sql8 = 'select * from direction_folder where LABEL_CLASS in (01, 05, 09);' #between: 이상&이하
sdf8 = pd.read_sql(sql8,conn)
sdf8

      index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0       900   20210430     A-01          01  01_X014_C112_0410
1       901   20210430     A-01          01  01_X018_C112_0410
2       902   20210430     A-01          01  01_X018_C119_0410
3       903   20210430     A-01          01  01_X020_C112_0410
4       904   20210430     A-01          01  01_X040_C112_0410
...     ...        ...      ...         ...                ...
9253  56715   20210506     A-15          05  05_X111_C509_0126
9254  56716   20210506     A-15          05  05_X111_C559_0113
9255  56717   20210506     A-15          05  05_X111_C580_0109
9256  56718   20210506     A-15          05  05_X111_C580_0110
9257  56719   20210506     A-15          05  05_X111_C580_0115

[9258 rows x 5 columns]

In [16]:
df[df['LABEL_CLASS'].isin(['01','05','09'])]

       index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
900      900   20210430     A-01          01  01_X014_C112_0410
901      901   20210430     A-01          01  01_X018_C112_0410
902      902   20210430     A-01          01  01_X018_C119_0410
903      903   20210430     A-01          01  01_X020_C112_0410
904      904   20210430     A-01          01  01_X040_C112_0410
...      ...        ...      ...         ...                ...
56715  56715   20210506     A-15          05  05_X111_C509_0126
56716  56716   20210506     A-15          05  05_X111_C559_0113
56717  56717   20210506     A-15          05  05_X111_C580_0109
56718  56718   20210506     A-15          05  05_X111_C580_0110
56719  56719   20210506     A-15          05  05_X111_C580_0115

[9258 rows x 5 columns]

In [17]:
sql9 = 'select * from direction_folder where FOLDER like "01%";' 
sdf9 = pd.read_sql(sql9,conn)
sdf9

    index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0     900   20210430     A-01          01  01_X014_C112_0410
1     901   20210430     A-01          01  01_X018_C112_0410
2     902   20210430     A-01          01  01_X018_C119_0410
3     903   20210430     A-01          01  01_X020_C112_0410
4     904   20210430     A-01          01  01_X040_C112_0410
5     905   20210430     A-01          01  01_X051_C112_0410
6     906   20210430     A-01          01  01_X052_C112_0410
7     907   20210430     A-01          01  01_X066_C119_0410
8     908   20210430     A-01          01  01_X074_C508_0408
9     909   20210430     A-01          01  01_X104_C551_0117
10    910   20210430     A-01          01  01_X108_C112_0410
11    911   20210430     A-01          01  01_X112_C112_0410
12    912   20210430     A-01          01  01_X113_C112_0410
13    913   20210430     A-01          01  01_X116_C112_0410
14    914   20210430     A-01          01  01_X118_C119_0410
15    915   20210430     A-01          01  01_X121_C112_0410
16    916   20210430     A-01          01  01_X121_C119_0410
17    917   20210430     A-01          01  01_X123_C112_0410
18    918   20210430     A-01          01  01_X127_C119_0410
19    919   20210430     A-01          01  01_X135_C119_0410
20    920   20210430     A-01          01  01_X140_C092_0410
21    921   20210430     A-01          01  01_X147_C112_0410
22    922   20210430     A-01          01  01_X148_C092_0410
23    923   20210430     A-01          01  01_X156_C116_0410
24    924   20210430     A-01          01  01_X184_C112_0410
25    925   20210430     A-01          01  01_X189_C112_0410
26    926   20210430     A-01          01  01_X291_C117_0330
27    927   20210430     A-01          01  01_X299_C112_0410

In [18]:
df[df['FOLDER'].astype(str).str[:2]=='01']

     index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
900    900   20210430     A-01          01  01_X014_C112_0410
901    901   20210430     A-01          01  01_X018_C112_0410
902    902   20210430     A-01          01  01_X018_C119_0410
903    903   20210430     A-01          01  01_X020_C112_0410
904    904   20210430     A-01          01  01_X040_C112_0410
905    905   20210430     A-01          01  01_X051_C112_0410
906    906   20210430     A-01          01  01_X052_C112_0410
907    907   20210430     A-01          01  01_X066_C119_0410
908    908   20210430     A-01          01  01_X074_C508_0408
909    909   20210430     A-01          01  01_X104_C551_0117
910    910   20210430     A-01          01  01_X108_C112_0410
911    911   20210430     A-01          01  01_X112_C112_0410
912    912   20210430     A-01          01  01_X113_C112_0410
913    913   20210430     A-01          01  01_X116_C112_0410
914    914   20210430     A-01          01  01_X118_C119_0410
915    915   20210430     A-01          01  01_X121_C112_0410
916    916   20210430     A-01          01  01_X121_C119_0410
917    917   20210430     A-01          01  01_X123_C112_0410
918    918   20210430     A-01          01  01_X127_C119_0410
919    919   20210430     A-01          01  01_X135_C119_0410
920    920   20210430     A-01          01  01_X140_C092_0410
921    921   20210430     A-01          01  01_X147_C112_0410
922    922   20210430     A-01          01  01_X148_C092_0410
923    923   20210430     A-01          01  01_X156_C116_0410
924    924   20210430     A-01          01  01_X184_C112_0410
925    925   20210430     A-01          01  01_X189_C112_0410
926    926   20210430     A-01          01  01_X291_C117_0330
927    927   20210430     A-01          01  01_X299_C112_0410

In [19]:
sql10 = 'select * from direction_folder where LABEL_DATE like "202105__" and LABEL_CLASS = 24;' 
sdf10 = pd.read_sql(sql10,conn)
sdf10

      index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
0      4300   20210502     A-02          24  24_X012_C195_1208
1      4301   20210502     A-02          24  24_X012_C195_1210
2      4302   20210502     A-02          24  24_X012_C195_1211
3      4303   20210502     A-02          24  24_X012_C195_1216
4      4304   20210502     A-02          24  24_X012_C196_1202
...     ...        ...      ...         ...                ...
4123  54965   20210501     A-15          24  24_X012_C194_1215
4124  54966   20210501     A-15          24  24_X012_C194_1216
4125  54967   20210501     A-15          24  24_X012_C194_1217
4126  54968   20210501     A-15          24  24_X012_C194_1218
4127  54969   20210501     A-15          24  24_X012_C195_1207

[4128 rows x 5 columns]

In [20]:
df[(df['LABEL_DATE'].str.contains('202105')) & (df['LABEL_CLASS'] == '24')]

       index LABEL_DATE LABEL_ID LABEL_CLASS             FOLDER
4300    4300   20210502     A-02          24  24_X012_C195_1208
4301    4301   20210502     A-02          24  24_X012_C195_1210
4302    4302   20210502     A-02          24  24_X012_C195_1211
4303    4303   20210502     A-02          24  24_X012_C195_1216
4304    4304   20210502     A-02          24  24_X012_C196_1202
...      ...        ...      ...         ...                ...
54965  54965   20210501     A-15          24  24_X012_C194_1215
54966  54966   20210501     A-15          24  24_X012_C194_1216
54967  54967   20210501     A-15          24  24_X012_C194_1217
54968  54968   20210501     A-15          24  24_X012_C194_1218
54969  54969   20210501     A-15          24  24_X012_C195_1207

[4128 rows x 5 columns]